<div class="support-title">
    Buy Me Coffee
    <span class="material-symbols-outlined">
        coffee
    </span>
</div>
<div class="support-body">
    <div class="support-body-text">
        <p>
            I'm a full-time software developer and an open source contributor. I
            love building useful tools that help others to be more productive. If you like
            my work, please consider supporting me.
        </p>
    </div>
</div>

<mat-tab-group  dynamicHeight animationDuration="1500ms">
    <mat-tab label="One Time Donation">
        <div class="button-container">
            <button (click)="donate(1)"
                    class="bmc-one-time-button" 
                    mat-raised-button 
                    color="primary">
                Donate $1
            </button>
            <button (click)="donate(5)"
                    class="bmc-one-time-button" 
                    mat-raised-button 
                    color="primary">
                Donate $5
            </button>
            <button (click)="donate(10)"
                    class="bmc-one-time-button"
                    mat-raised-button 
                    color="primary">
                Donate $10
            </button>
            <button (click)="donate(20)"
                    class="bmc-one-time-button"
                    mat-raised-button 
                    color="primary">
                Donate $20
            </button>
        </div>
    </mat-tab>
    <mat-tab label="Recurring Donation">
        <button class="bmc-recurring-button" mat-raised-button color="primary">Donate $2 / month</button>
        <div class="bmc-custom-monthly-container">
            <table class="example-full-width" cellspacing="0"><tr>
                <td> 
                    <button class="bmc-recurring-button bmc-recurring-custom-button" 
                            mat-raised-button 
                            color="primary">
                        Donate $
                    </button>
                 </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Per Month</mat-label>
                        <input matInput
                               class="bmc-custom-monthly-input"
                               type="number" 
                               value="">
                    </mat-form-field>
                </td>
              </tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>

<footer>
    <div class="dev-info">
        Made by:
        <a href="https://cjszczechowicz.com" 
           class="website-link" 
           target='_blank'>
            Chris Szczechowicz
        </a>
    </div>
</footer>
