mat-tab-group {
    margin: 0 100px 0 100px;
}

.button-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
}

.bmc-one-time-button,
.bmc-recurring-button {
    margin: 5px 25% 5px 25%;
}

.support-body-text,
.website-link,
.dev-info {
    color: #fff;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.support-title {
    text-align: center;
    margin: 20px 0 30px 0;
    font-size: 19px;
}

.support-body-text {
    margin: 0 10% 0 10%;
    font-size: 15px;
}

.bmc-custom-monthly-container {
    display: flex;
}

.dev-info {
    font-size: 19px;
    text-align: right;
    position: relative;
    cursor: pointer;
    right: 10px;
}

.website-link {
    font-weight: 700;
    text-decoration: none;
}

footer {
    position: fixed;
    right: 5%;
    top: 540px;
}
