.dev-info {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 19px;
    text-align: right;
    position: relative;
    cursor: pointer;
    right: 10px;
    color: #000;
}

.website-link {
    font-weight: 700;
    text-decoration: none;
    color: #000;
  }
