<div class="support-title">Buy Me Coffee</div>
<div class="support-body">
    <div class="support-body-text">
        <p>
            I'm a full-time software engineer and part-time open source developer. I
            love building tools that help developers be more productive. If you like
            my work, please consider supporting me.
        </p>
    </div>
</div>

<mat-tab-group animationDuration="1500ms">
    <mat-tab label="One Time Donation">Content 1</mat-tab>
    <mat-tab label="Recurring Donation">Content 2</mat-tab>
</mat-tab-group>
