mat-tab-group {
    margin: 0 100px 0 100px;
}

.button-container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
}

.bmc-one-time-button,
.bmc-recurring-button {
    margin: 5px 25% 5px 25%;
}

.dev-info {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 19px;
    text-align: right;
    position: relative;
    cursor: pointer;
    right: 10px;
    color: #000;
}

.website-link {
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

footer {
    position: fixed;
    right: 5%;
    top: 540px;
}
