<div class="support-title">Buy Me Coffee</div>
<div class="support-body">
    <div class="support-body-text">
        <p>
            I'm a full-time software developer and an open source contributor. I
            love building useful tools that help others to be more productive. If you like
            my work, please consider supporting me.
        </p>
    </div>
</div>

<mat-tab-group  dynamicHeight animationDuration="1500ms">
    <mat-tab label="One Time Donation">
        <div class="button-container">
            <button class="bmc-one-time-button" mat-raised-button color="primary">Donate $2</button>
            <button class="bmc-one-time-button" mat-raised-button color="primary">Donate $5</button>
            <button class="bmc-one-time-button" mat-raised-button color="primary">Donate $10</button>
            <button class="bmc-one-time-button" mat-raised-button color="primary">Donate $20</button>
        </div>
    </mat-tab>
    <mat-tab label="Recurring Donation">
        <div class="button-container">
            <button class="bmc-recurring-button" mat-raised-button color="primary">Donate $2 / month</button>
            <div class="bmc-custom-monthly-container">
                <button class="bmc-recurring-button" mat-raised-button color="primary">Donate $</button>
                <mat-form-field class="example-full-width">
                    <input matInput type="number" value="">
                </mat-form-field> / month
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<footer>
    <div class="dev-info">
        Made by:
        <a href="https://cjszczechowicz.com" 
           class="website-link" 
           target='_blank'>
            Chris Szczechowicz
        </a>
    </div>
</footer>
