/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to right bottom, #370511, #62002e, #8a005b, #a3009b, #9f12eb);
    color: #fff;
}
