/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: radial-gradient(at 82.4219% 73.1497%, rgb(81, 150, 147), rgb(37, 109, 194));
    color: #fff;
}
